.headerPane {
    -fx-background-color: white;
}

.WelcomeText {
    -fx-alignment: center;
    -fx-font-size: 33;
    -fx-font-weight: bold;
    -fx-text-fill:#005aa7;
    -fx-text-decoration: underline;
}

.logo {
    -fx-background-image: url("images/logo.png");
    -fx-background-size: 85;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.slide_container{
    -fx-background-color: rgba(61, 108, 185, 0.9);
    -fx-padding: 20px;
    -fx-background-radius: 0 18px 18px 0;
    -fx-border-radius: 0 18px 18px 0;
}

.btn-admin {
    -fx-pref-height: 8;
    -fx-pref-width: 140;

    -fx-text-fill: #005aa7;
    -fx-background-color: white;

    -fx-border-width: 0.7px;
    -fx-cursor: hand;
    -fx-font-weight: 700;
    -fx-font-size: 15px;
    -fx-border-radius: 50px;
    -fx-border-color: transparent;
    -fx-border-width: 2px;
    -fx-background-radius: 25px;
    -fx-effect:dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0.5, 0, 1);
}

.btn-admin:hover{
    -fx-background-color: rgba(61, 108, 185,0.8);
    -fx-text-fill: white;
    -fx-opacity: 1;
}
.btn-admin:pressed {
    -fx-background-color: #014b8a;
    -fx-effect: none;
    -fx-translate-y: 2px;
    -fx-opacity:1.1;
}


.logout-btn{
    -fx-pref-width: 80;

    -fx-background-color: #ff4d4d;
    -fx-opacity:0.8;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-border-color: transparent;
    -fx-border-width: 2px;
    -fx-background-radius: 20px;
    -fx-effect:dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0.5, 0, 1);
}
.logout-btn:hover{
    -fx-background-color: #f2293a;
    -fx-opacity:1;
}
.logout-btn:pressed {
    -fx-background-color: #cc0000;
    -fx-effect: none;

}


.back-btn{
    -fx-font-size: 15;
    -fx-pref-height: 5;
    -fx-pref-width: 5;
    -fx-border-size: 1;
    -fx-border-radius: 50;
    -fx-border-color:  #005aa7;
    -fx-border-width: 2;
    -fx-background-radius: 1;
    -fx-background-color:rgba(255, 255, 255, 0);
    -fx-font-weight: bold;
    -fx-text-fill:  #005aa7;
    -fx-alignment: center;
    -fx-transition: all 0.3s ease;
}


.buttons {
    -fx-background-color: #6157ed;
}


.btn:hover, .vehicleType:hover, .back-btn:hover {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-cursor: hand;
}

.toolbarBtns {
    -fx-pref-height: 7;
    -fx-pref-width: 110;
    -fx-border-size: 10;
    -fx-border-radius: 15;
    -fx-border-color: #6157ed;
    -fx-background-radius: 50;
    -fx-background-color: white;
    -fx-padding: 10px 20;
    -fx-font-size: 0.8em;
    -fx-font-weight: bold;
    -fx-text-fill: #6157ed;
    -fx-alignment: center;
    -fx-letter-spacing: 0.1em;
    -fx-transition: all 0.3s ease;
}



.stack {
    -fx-background-color: #ededed;
}

.homeStack {
    -fx-background-image: url("images/topview.png");
    -fx-background-size: 700;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.vehicleType {
    -fx-prefWidth: 190;
    -fx-prefHeight: 370;
}
.vehicleLabel{
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-text-fill:  #005aa7;
    -fx-text-decoration: underline;
}
#car {
    -fx-background-image: url("images/car.png");
    -fx-background-size: 355;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#bike {
    -fx-background-image: url("images/bike.png");
    -fx-background-size: 250;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#fbf {
    -fx-background-image: url("images/fbf.png");
    -fx-background-size: 250;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#car:hover {
    -fx-background-size: 355;
    -fx-effect: dropshadow(gaussian, rgba(7, 71, 153, 0.5), 15, 0.5, 0, 5);
    -fx-translate-y: -10;
    -fx-cursor: hand;
}
#bike:hover {
    -fx-background-size: 250;
       -fx-effect: dropshadow(gaussian, rgba(7, 71, 153, 0.5), 15, 0.5, 0, 5);

    -fx-translate-y: -10;
    -fx-cursor: hand;
}
#fbf:hover {
    -fx-background-size: 250;
    -fx-effect: dropshadow(gaussian, rgba(7, 71, 153, 0.5), 15, 0.5, 0, 5);
    -fx-translate-y: -10;
    -fx-cursor: hand;
}



.spots-btn {
    -fx-text-fill: #fff;
    -fx-background-color: linear-gradient(to bottom , #005aa7,#005aa7);

    -fx-border-width: 0.2px;
    -fx-cursor: hand;
    -fx-font-weight: 700;
    -fx-font-size: 15px;
    -fx-border-radius: 40px;
    -fx-border-color: transparent;
    -fx-border-width: 0.6px;
    -fx-effect:dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0.5, 0, 1);
}

.spots-btn:hover{
    -fx-background-color: #0D92F4;
    -fx-opacity: 0.7;
}
.spots-btn:pressed {
    -fx-background-color: #014b8a;
    -fx-effect: none;
    -fx-translate-y: 2px;
    -fx-opacity:1.1;
}

.table {
    -fx-background-color: white;
}

.toolbar {
    -fx-background-color: white;

}

.AdminStacksLabels {
    -fx-font-size: 28;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.AdminStacksTables .table-view {
    -fx-background-color: #f9f9f9;
    -fx-border-color: #d3d3d3;
    -fx-border-width: 1px;
    -fx-padding: 10;
}

.AdminStacksTables .column-header-background {
    -fx-background-color: #005aa7;
}

.AdminStacksTables .column-header .label {
    -fx-text-fill: Black;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.AdminStacksTables .table-row-cell {
    -fx-background-color: #ffffff;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0 0 1px 0;
}

.AdminStacksTables .table-row-cell:hover {
    -fx-background-color: #f0f8ff;
}

.AdminStacksTables .table-row-cell:selected {
    -fx-background-color: #A9A9A9;
    -fx-text-fill: #333333;
}

.AdminStacksTables .table-cell {
    -fx-font-size: 12px;
    -fx-padding: 5px;
    -fx-text-fill: #333333;
    -fx-alignment: center;
}

.AdminStacksTables .table-cell:selected {
    -fx-background-color:  #005aa7;
    -fx-text-fill: #333333;
}

.AdminStacksTables .scroll-bar {
    -fx-background-color: #f0f0f0;
}

.AdminStacksTables .scroll-bar .thumb {
    -fx-background-color: #c0c0c0;
    -fx-background-radius: 5;
}

.dialog-pane {
    -fx-background-color: white;
    -fx-border-color:  #005aa7;
}

.dialog-pane .header-panel {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
.dialog-pane .graphic-container {
    -fx-opacity: 0;
}
.dialog-pane .content {
    -fx-font-size: 16px;
    -fx-text-fill: #333333; /* Dark gray color for content */
    -fx-padding: 10px;
    -fx-alignment: center;
}

.dialog-pane .button {
    -fx-background-color: white;
    -fx-background-radius: 50;
    -fx-border-width: 1.5;
    -fx-border-radius: 50;
    -fx-border-color: #005aa7;
    -fx-pref-height: 10;
    -fx-pref-width: 110;
}

.dialog-pane .button:hover {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-cursor: hand;
}

.combo-box {
    -fx-background-color: white;
    -fx-border-color: #333333;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 5px;
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

/* Style for the items in the dropdown */
.combo-box .list-cell {
    -fx-background-color: white; /* Default item background */
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

/* Hover effect for dropdown items */
.combo-box .list-cell:hover {
    -fx-background-color: #e0e0e0; /* Light blue on hover */
}

/* Selected item styling */
.combo-box .list-cell:selected {
    -fx-background-color: #ffffff; /* Blue for selected item */
    -fx-text-fill: #333333;          /* White text for selected item */
}

/* Popup styling */
.combo-box-popup {
    -fx-background-color: #ffffff;
    -fx-border-color: #333333;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}


/* Box container */
.label-box {
    -fx-background-color: #ffffff;
    -fx-padding: 20;
    -fx-alignment: center;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 4, 0, 0, 2); /* Subtle shadow */
    -fx-min-width: 180px;
    -fx-min-height: 100px;
    -fx-cursor: hand;
    -fx-transition: all 0.3s ease-in-out;
}


.label-box:hover {
    -fx-background-color: #f5f8fa;
    -fx-border-color: #005aa7;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 8, 0, 0, 4);
}


.header {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-opacity: 0.9;
    -fx-alignment: center;
}


.number {
        -fx-font-size: 14px;
        -fx-font-weight: bold;
        -fx-text-fill: #333333;
        -fx-font-family: "Segoe UI", sans-serif;
        -fx-opacity: 0.9;
        -fx-alignment: center;
}

/* Apply general styles to all TitledPanes */
.titled-pane {
    -fx-background-color: linear-gradient(to bottom, #f5f5f5, #e0e0e0);
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #b0b0b0;
    -fx-border-width: 1.5px;
    -fx-padding: 10px;
}

/* Style the title area of the TitledPane */
.titled-pane > .title {
    -fx-background-color: #d6d6d6;
    -fx-text-fill: #4f4f4f;
    -fx-font-size: 16px;
    -fx-font-family: "Cyber";
    -fx-padding: 8px;
    -fx-background-radius: 10px 10px 0 0;
}

/* Style the content area of the TitledPane */
.titled-pane > .content {
    -fx-background-color: #f5f5f5;
    -fx-padding: 10px;
    -fx-border-radius: 0 0 10px 10px;
    -fx-background-radius: 0 0 10px 10px;
    -fx-text-fill: #4f4f4f;
}

/* Add hover effect to the title */
.titled-pane:hover > .title {
    -fx-background-color: #cfcfcf;
    -fx-text-fill: #3a3a3a;
}

.tab-pane {
    -fx-background-color: #f8f8f8;
    -fx-border-color: #d3d3d3;
    -fx-border-width: 1px;
}

.tab {
    -fx-background-color: #e0e0e0;
    -fx-text-fill: #4d4d4d;
    -fx-padding: 8px;
}

.tab:selected {
    -fx-background-color: #b0b0b0;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

.tab-content-area {
    -fx-background-color: #ffffff;
    -fx-border-color: #d3d3d3;
    -fx-border-width: 1px;
}

.text-fieldd{
    -fx-border-radius: 5px;
    -fx-background-color: white;
    -fx-text-fill: #333333;
    -fx-border-width: 2px;
    -fx-border-color:  #76a8c4;
    -fx-focus-color: #4CAF50;
}

.text-fieldd:hover {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #0A3981;
}

.text-fieldd:focused {
    -fx-background-color: #ffffff;
    -fx-border-color:     #1F509A;
}
